.krich-editor
  width 100%
  min-height 100px
  max-height 300px
  overflow-y auto
  padding 10px
  outline none
  border-radius 10px
  border 1px solid #f1f1f1
  box-shadow var(--krich-card-shadow)
  box-sizing border-box

  p
    width 100%
    margin 5px 0
    line-height 20px

  blockquote
    white-space pre-wrap

  .through
    text-decoration line-through