.krich
  .krich-ec
    position relative

  .krich-tip
    position absolute
    opacity 0
    transition all .3s
    user-select none
    z-index 1
    background white
    padding 16px
    border-radius 8px
    box-shadow 2px 1px 1px 2px #0004

    &.active
      opacity 1