.krich-tools:not(.disable)>*:not(.select)
  position relative

  &:before
    position absolute
    top 40px
    background #333d
    font-size 0.75em
    font-weight normal
    text-align center
    color white
    border 1px solid white
    border-radius 6px
    z-index 1
    opacity 0
    transition all .3s
    padding 10px
    word-break keep-all
    white-space pre

  &:hover:before
    content attr(data-desc)
    opacity 1