.krich-editor a
  padding 6px
  border-radius 6px
  transition all .3s

  &:hover
    color white
    background #4567d3

.krich-tip[data-name="link"]
  .error
    color red
    font-size .85rem
    opacity 0
    transition all .3s

    &.active
      opacity 1