.krich-tools * {
    box-sizing: border-box;
}

.krich-tools {
    display: flex;
}

.krich-tools > * {
    display: flex;
    align-items: center;
    position: relative;
    margin: 5px 0;
    border: unset;
    height: 40px;
    background: none;
    border-radius: 3px;
    transition: all .3s;
    padding: 5px 10px;
    font-weight: bold;
}

.krich-tools > *:hover {
    background: var(--krich-tools-hover) !important;
    cursor: pointer;
}

.krich-tools button {
    cursor: pointer;
}