.krich-tools
  display flex
  user-select none

  *
    box-sizing border-box

  & > *
    display flex
    align-items center
    position relative
    margin 5px 0
    border unset
    width 40px
    height 40px
    background none
    border-radius 3px
    transition all .3s
    padding 5px 5px
    font-weight bold

    & > button
      width 100%
      height 100%

    &:hover
      background var(--krich-tools-hover) !important
      cursor pointer

  button
    cursor pointer
    display flex
    align-items center
    justify-content center

  .btn-icon
    width 20px
    height 20px
    line-height 15px
    fill black